/** global **/
/** Overriding Graph color properties **/
$graph_gray: rgb(158, 158, 158)
$graph_line_opacity: 0.3
$font: apercu
$textColor: #56657f
$backgroundBlueLight: #212936
$backgroundBlueDark: #1a2027
$dividerColor: #374154

:global .react-stockcharts-axis-domain
  stroke: $graph_gray
  opacity: $graph_line_opacity

:global .react-stockcharts-x-axis > g > g > text,
:global .react-stockcharts-y-axis > g > g > text
  fill: white
  opacity: $graph_line_opacity

:global .tick > line
  stroke: $graph_gray
  opacity: 0.04

:global .react-stockcharts-candlestick-wick > path
  stroke: $graph_gray
  opacity: $graph_line_opacity

/** Date, O, H, L, C, Vol. text **/
:global .react-stockcharts-tooltip > tspan
  fill: white
  opacity: $graph_line_opacity

:global .react-stockcharts-tooltip > .react-stockcharts-tooltip-label
  fill: $graph_gray

/** Dotted crosshair lines**/
:global .react-stockcharts-crosshair > line
  stroke: $graph_gray

/* Apex charts*/
:global .apexcharts-xaxis,
:global .apexcharts-yaxis,
:global .apexcharts-menu-icon,
:global .apexcharts-grid,
:global .apexcharts-data-labels > text
  visibility: hidden

:global .ant-spin-nested-loading
  background: white
  .ant-spin-container
    .ant-pagination
      background: white
      margin: 0
      padding: 12px

/*********/
/* graph */
/*********/
.graph_h1
  padding-top: 16px
  margin-left: 32px
  h1
    font-size: 16px
    color: $graph_gray

.graphBacktestListWrapperStyle
  width: 90vw
  background-color: $backgroundBlueLight

/*********/
/* main */
/*********/
.underNavStyle
  display: flex
  width: 100vw

.graphStyle
  background: $backgroundBlueDark
  text-align: start

/**************/
/* navigation */
/**************/
.navWrapper
  width: 100vw
  background: $backgroundBlueLight
  display: flex
  justify-content: left
  flex-direction: row
  gap: 10px

.navItemTextStyle
  font-family: $font
  color: $textColor

/*****************/
/* strategy-list */
/*****************/

.strategyListWrapper
  border-top: 1px solid $dividerColor
  width: 10vw
  background-color: $backgroundBlueLight
  padding: 10px

.strategyList
  display: flex
  flex-direction: column
  row-gap: 6

.strategyItemWrapper
  display: flex
  justify-content: center

.strategyItemTextStyle
  font-size: 14
  font-family: $font
  font-weight: bold
  color: $textColor

.strategySelectedItemText
  font-size: 14
  font-family: $font
  font-weight: bold
  color: #1976d2

.strategyLineSeparator
  border: 0
  border-top: 1px solid $dividerColor
  margin: 1rem 0

/*************************/
/* strategy report table */
/*************************/
.reportTableWrapper
  width: 90vw
  overflow: hidden

:global .ant-table-tbody > tr > td
  padding: 2px 16px
