
:global html
  font-size: 62.5%
  -ms-overflow-style: none
  scrollbar-width: none
  ::-webkit-scrollbar
    display: none

/*********/
/* Spinner */
/*********/
:global .loader-container > .background 
  border-radius: 4px !important
  background-color: rgba(0, 0, 0, 0.3) !important



/*********/
/* table */
/*********/
:global .MuiTablePagination-actions > button
  background: none !important

/*********/
/* graph */
/*********/

:global .react-stockchart > .react-stockchart > g
  transform: translate(0px, 20px)

$graph_line_opacity: 0.3

:global .react-stockcharts-axis-domain,
:global .react-stockcharts-x-axis > g > g > text,
:global .react-stockcharts-y-axis > g > g > text,
:global .react-stockcharts-candlestick-wick > path
  font-size: 1rem
  fill: gray
  opacity: $graph_line_opacity

:global .tick > line
  font-size: 1rem
  fill: gray
  opacity: 0.04

// Date, O, H, L, C, Vol. text
:global .react-stockcharts-tooltip 
  tspan
    opacity: 0


/*************************/
/* strategy designer */
/*************************/

.strategyDesignerSidebar
  width: 30%
  height: 100%
  transition: all 0.5s ease-in-out
  &Visible
    @extend .strategyDesignerSidebar
    margin-left: 0
  &Hidden
    @extend .strategyDesignerSidebar
    margin-left: -30%


.strategyDesignerSidebarListItem
  display: flex
  overflow: hidden
  justify-content: space-between
  gap: 8px
  &EnterStoplossAttributes
    @extend .strategyDesignerSidebarListItem
    justify-content: center
    gap: 5%
    border: hidden
    flex-direction: row
    > div
      > span
        width: 100% !important
      > div
        width: 100% !important

  &RuleValue
    display: flex
    flex-direction: column
    align-self: center
    width: 100%
    margin: 0 auto
    justify-content: center
    gap: 4px
    &Relative
      @extend .strategyDesignerSidebarListItemRuleValue
      width: 50%
      gap: 4px
    &Wrapper
      width: 33.33% !important
      display: flex
      justify-content: space-between
      gap: 4px

.strategyDesignerSidebarSelect
  overflow: hidden !important
  &Attribute
    @extend .strategyDesignerSidebarSelect
    > div
      text-overflow: clip !important
  &Position
    @extend .strategyDesignerSidebarSelect
    width: 33.33%
    display: flex !important
    align-self: center !important
    justify-content: center !important
    > div
      text-overflow: clip !important
