body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
 * Overriding Graph color properties
*/
.react-stockcharts-axis-domain {
  stroke: rgb(158, 158, 158);
  opacity: 0.3;
}
.react-stockcharts-y-axis > g > g > text {	
  fill: white;
  opacity: 0.2;
}
.react-stockcharts-x-axis > g > g > text {	
  fill: white;
  opacity: 0.2;
}

.tick > line {
  stroke: rgb(158, 158, 158);
  opacity: 0.04;
}

.react-stockcharts-candlestick-wick > path {
  stroke: rgb(158, 158, 158);
  opacity: 0.3;
}

/* Date, O, H, L, C, Vol. text */
.react-stockcharts-tooltip > tspan {
  fill: white;
  opacity: 0.3;
}
.react-stockcharts-tooltip > .react-stockcharts-tooltip-label {
  fill: rgb(158, 158, 158);
}

/* Dotted crosshair lines*/
.react-stockcharts-crosshair > line {
  stroke: rgb(158, 158, 158);;
}



/* Apex charts*/
.apexcharts-xaxis,
.apexcharts-yaxis,
.apexcharts-menu-icon,
.apexcharts-grid,
.apexcharts-data-labels > text
{
  visibility: hidden;
}