body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
 * Overriding Graph color properties
*/
.react-stockcharts-y-axis > g > g > text {	
  fill: white;
}
.react-stockcharts-x-axis > g > g > text {	
  fill: white;
}

.react-stockcharts-tooltip > tspan {
  fill: white;
}

.react-stockcharts-tooltip > .react-stockcharts-tooltip-label {
  fill: rgb(158, 158, 158);
}

.tick > line {
  stroke: rgb(158, 158, 158);
  opacity: 0.04;
}

.react-stockcharts-candlestick-wick > path {
  stroke: rgb(158, 158, 158);
  opacity: 0.4;
}

